.accordion {
    display: flex;
    flex-direction: column;
}

.accordion-wrapper {
    transition: padding 0.5s ease; /* Transition for the gap between items */
    padding-bottom: 1rem; /* Default padding between items */
}

.accordion.active-gap .accordion-wrapper {
    padding-bottom: 0.25rem; /* Reduced padding when one item is opened */
}

.accordion-item {
    background-color: #e9e9e9;
    overflow: hidden;
    transition: background-color 0.3s ease;
    border-radius: 1.4rem;
}

.accordion-content {
    max-height: 0; /* Start with collapsed content */
    overflow: hidden;
    opacity: 0;
    padding: 0;
    border-radius: 0.5rem;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.accordion-button {
    width: 100%;
    background-color: var(--color-green-tertiary);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
    border-radius: 999px;
}

.accordion-button:hover, .accordion-button.active {
    background-color: var(--color-green-tertiary-active);
}

.accordion-button.active + .accordion-content {
    max-height: 500px; /* Arbitrary large height to accommodate content */
    padding: 1rem 2rem;
    opacity: 1;
}
