.questions-section {
    .title {
        text-align: center;
        font-weight: 400;
        margin-bottom: 2rem;
        color: var(--main-green);
    }

    .accordion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .accordion-wrapper {
        transition: padding 0.5s ease; /* Transition for the gap between items */
        padding-bottom: 1.5rem; /* Default padding between items */
    }

    .accordion.active-gap .accordion-wrapper {
        padding-bottom: 0.25rem; /* Reduced padding when one item is opened */
    }

    .accordion-item {
        background-color: var(--color-gray-primary);
        overflow: hidden;
        transition: background-color 0.3s ease;
        border-radius: 2rem;
        width: min-content;
    }

    .accordion-content {
        max-height: 0; /* Start with collapsed content */
        overflow: hidden;
        opacity: 0;
        padding: 0 3rem;
        border-radius: 0.5rem;
        transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;

        p {
            color: var(--darker-green);
            text-align: justify;
        }
    }

    .accordion-button {
        white-space: nowrap;
        font-size: var(--font-size-h3);
        width: 100%;
        background-color: var(--color-green-tertiary);
        color: white;
        border: none;
        padding: 1rem 4rem;
        cursor: pointer;
        text-align: left;
        transition: background-color 0.3s ease;
        border-radius: 999px;
    }

    .accordion-button:hover, .accordion-button.active {
        background-color: var(--color-green-tertiary-active);
    }

    .accordion-button.active + .accordion-content {
        max-height: 1000px; /* Arbitrary large height to accommodate content */
        padding: 1rem 3rem;
        opacity: 1;
    }

    @media (max-width: 992px) {
        .accordion-button {
            font-size: var(--font-size-base);
        }
    }

    @media (max-width: 576px) {
        .accordion-button {
            white-space: normal;
            height: 4rem;
        }

        .accordion-item {
            width: 100%;
        }

        .container-narrow {
            padding: 0;
        }

        .accordion-wrapper {
            width: 90%;
        }

        .accordion-wrapper:nth-of-type(odd) {
            align-self: flex-start;

            .accordion-button {
                border-radius: 0 1.4rem 1.4rem 0;
            }

            .accordion-item {
                border-radius: 0 1.4rem 1.4rem 0;
            }
        }

        .accordion-wrapper:nth-of-type(even) {
            align-self: flex-end;

            .accordion-button {
                border-radius: 1.4rem 0 0 1.4rem;
            }

            .accordion-item {
                border-radius: 1.4rem 0 0 1.4rem;
            }
        }
    }
}
