.space-section-mobile {
    background-image: url("../../assets/images/espaco-bg-mbl.png");
    background-position: top;
    background-size: cover;
    margin-top: 10rem;
    min-height: calc(1080px - 128px);
    color: white;
    padding: 4rem 0;
    display: flex;

    .title {
        font-weight: 500;
        text-align: center;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .card {
        border-radius: 2rem;
        background: white;
        overflow: hidden;
        color: var(--kinda-black);
        padding: 1.5rem;
        margin: 0 auto;
        height: 34rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        max-width: 28rem;
        width: 100%;
    }

    .address {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .address-title {
        font-size: var(--font-size-h2-small);
    }

    .card-map-img-wrapper {
        overflow: hidden;
        border-radius: 1.5rem;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    }

    .address-details {
        font-weight: 400;
    }

    .card-button {
        padding: 1rem 0;
        font-size: var(--font-size-h2-small);
        border-radius: 1.25rem;
        border: none;
        font-weight: 500;
    }

    .card-map-img {
        height: 100%;
        transform: scale(1.6);
    }

    @media (max-width: 480px) {
        .card-map-img {
            transform: scale(2);
        }

        .map-img-north {
            transform: scale(2) translateX(-3rem);
        }

        .card {
            height: 30rem;
        }
    }
}