.footer-section {
    background: #a9b475;
    color: white;

    .warning-section {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 2rem;
        padding: 1rem 2rem;
        margin-bottom: 2rem;

        p {
            text-align: center;
            font-size: var(--font-size-small);
        }
    }

    .contact-list-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
    }

    .logo-wrapper {
        display: flex;
        flex: 1;
        padding: 4rem 0;
        justify-content: flex-end;
    }

    .top-container, .bottom-container {
        display: flex;
    }

    .top-container {
        align-items: center;
    }

    .logo-img {
        width: 100%;
        max-height: 100%;
        max-width: 38rem;
    }

    .contact-icon {
        width: 2rem;
        height: auto;
    }

    .contact-item-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        width: fit-content;
    }

    .contact-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .policy-end-container {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        width: fit-content;
    }

    .policy-start-container {
        display: flex;
        gap: 2rem;
    }

    .policy-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .bottom-container {
        flex-direction: column;
        border-top: 1px solid white;
        padding-top: 2rem;
        padding-bottom: 1rem;
        gap: 4rem;
    }

    .policy-icon-wrapper {
        height: 1.5rem;
        cursor: pointer;

        img {
            height: 100%;
            max-width: 100%;
            width: auto;
        }
    }

    .rights-container {
        text-align: center;
    }

    .mauricio-azevedo-container {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .25rem;
        line-height: 1;
        font-size: 16px;
    }

    .mauricio-azevedo {
        position: relative;
        display: inline-block;
        color: white;
        text-decoration: none;
        overflow: hidden;
        z-index: 0;
        padding: .25rem .5rem;
        border-radius: .75rem;
        transition: color 0.6s ease-in-out;
    }

    /* Creating the highlight effect */

    .mauricio-azevedo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: white; /* Choose your highlight color */
        transition: width 0.3s ease-in-out;
        z-index: -1; /* Places highlight behind text */
        border-radius: .75rem;
    }

    @media (hover: hover) {
        .mauricio-azevedo:hover {
            color: #444;
        }

        .mauricio-azevedo:hover::before {
            width: 100%;
        }
    }

    @media (max-width: 1200px) {
        .contact-icon {
            width: 1.5rem;
        }
    }

    @media (max-width: 768px) {
        .contact-list-container {
            gap: 1rem;
        }

        .contact-icon {
            width: 1.25rem;
        }

        .policy-start-container {
            gap: 1rem;
        }

        .policy-icon-wrapper {
            gap: 1rem;
        }

        .policy-icon-wrapper {
            height: 1.25rem;
        }

        .mauricio-azevedo-container {
            font-size: 14px;
        }
    }


    @media (max-width: 576px) {
        padding-top: 3rem;

        .top-container {
            flex-direction: column;
        }

        .logo-img {
            max-width: 26rem;
        }

        .contact-item-container {
            gap: .5rem;
            justify-content: center;
        }

        .policy-container {
            flex-direction: column-reverse;
            gap: 4rem;
        }

        .bottom-container {
            padding-top: 1rem;
            gap: 1rem;
        }

        .mauricio-azevedo-container {
            font-size: 12px;
        }

        .mauricio-azevedo {
            padding: 0;
            text-decoration: underline;
        }
    }
}