.about-me-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-green-really-light);

    .title-container {
        width: 310px;
        height: 100px;
        margin-bottom: -2rem;
        z-index: 1;

        text {
            font-size: 100px;
            fill: var(--main-gold);
        }
    }

    .profile-picture-container {
        width: 33rem;
        height: 42rem;

        .profile-picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}