.scrolling-highlight-text {
    position: relative;
    display: flex; /* Change to inline-block to contain the entire width */
    justify-content: center;
    width: fit-content;
    padding: 0.25rem 0.75rem;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.scrolling-highlight-text .highlight-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0; /* Starts with 0% width */
    background-color: yellow; /* Default color, will be overridden by props */
    transition: width 0.5s ease-out; /* Default duration, overridden by props */
    z-index: -1;
    border-radius: inherit; /* Make sure the border-radius is applied */
}
