* {
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

html, body {
  height: 100%; /* Make sure the body takes the full viewport height */
}

body {
  margin: 0;
  overflow-x: clip;
  padding: 0;
  min-height: 100vh;
}
