* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}

html, body {
    height: 100%; /* Make sure the body takes the full viewport height */
}

body {
    margin: 0;
    overflow-x: clip;
    padding: 0;
    min-height: 100vh;
    background-color: #f6f8f4;
}

:root {
    --main-green: #777e5c;
    --main-green-lighter: #A3A989;

    --container-narrow: 1140px;
    --container-wide: 1440px;

    --font-size-base: 24px;
    --font-size-small: 16px;
    --font-size-h2: 56px;
    --font-size-h3: 28px;

    --letter-spacing-base: 0;

    .font-size-small {
        font-size: var(--font-size-small);
    }

    p, .font-size-base {
        font-size: var(--font-size-base);
        line-height: 1.4;
        letter-spacing: var(--letter-spacing-base);
    }

    h2, .font-size-h2 {
        font-size: var(--font-size-h2);
    }

    h3, .font-size-h3 {
        font-size: var(--font-size-h3);
    }

    .container-narrow {
        width: 100%;
        max-width: var(--container-narrow);
        margin: 0 auto;
        padding: 0 1rem;
    }

    .container-wide {
        width: 100%;
        max-width: var(--container-wide);
        margin: 0 auto;
        padding: 0 1rem;
    }

    @media (max-width: 768px) {
        --font-size-base: 16px;
    }

    @media (max-width: 576px) {
        --font-size-base: 14px;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}